{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Profile {% endblock %}

{% block body %}
    <div class="profile1">
        <h1 class="profile">Profil</h1>
        <h2>{{app.user}}</h2>
        <img class= "profile-image" src="{{asset(user_profile_pictures_dir ~ app.user.picture)}}" alt="your profile picture">
        <div class="profilediv">
            <p> tu es 
                {{ app.user.gender }}.</p>
        </div>
        <div class="profilediv">
			{% if app.user.interestedin == 'sérieuse' %}
				<p>Tu recherches une relation sérieuse.</p>
			{% elseif app.user.interestedin == 'amusement' %}
				<p>Tu cherches à t'amuser.</p>
			{% elseif app.user.interestedin == 'amicale' %}
				<p>Tu recherches une relation sérieuse et de l'amusement.</p>
			{% endif %}
		</div>
        <div class="profilediv">
			{% if app.user.gender == 'un homme' %}
				{% if app.user.interestedgender == 'femmes' %}
					<p>Tu es intéressé par les femmes.</p>
				{% elseif app.user.interestedgender == 'hommes' %}
					<p>Tu es intéressé par les hommes.</p>
				{% elseif app.user.interestedgender == 'femme et hommes' %}
					<p>Tu es intéressé par les femmes et les hommes.</p>
				{% endif %}
			{% endif %}
			{% if app.user.gender == 'une femme' %}
				{% if app.user.interestedgender == 'femmes' %}
					<p>Tu es intéressée par les femmes.</p>
				{% elseif app.user.interestedgender == 'hommes' %}
					<p>Tu es intéressée par les hommes.</p>
				{% elseif app.user.interestedgender == 'femmes et hommes' %}
					<p>Tu es intéressée par les femmes et les hommes.</p>
				{% endif %}
			{% endif %}
		</div>
        {% if app.user.description %}
			<div class="profilediv">
				<p>Ta description :</p>
				<p>{{ app.user.description | raw}}</p>
			</div>
		{% else %}
			<div class="profilediv">
				<p>Tu n'as pas encore écrit de description.</p>
            </div>
		{% endif %}
	</div>
    <nav class="nav">
        <a class="navbar-link" href="{{ path('profile_modify_password') }}">Modifier le mot passe</a>
    </nav>
{% endblock %}
        

