{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Profile {% endblock %}

{% block body %}
    <div class="profile1">
        <h1 class="profile">Profil</h1>
        <h2>{{user.username}}</h2>
        <img class= "profile-image" src="{{asset(user_profile_pictures_dir ~ user.picture)}}" alt="your profile picture">
        <div class="profilediv">
            <p> Je suis  
                {{ user.gender }}.</p>
        </div>
        <div class="profilediv">
			{% if user.interestedin == 'sérieuse' %}
				<p>Je recherche une relation sérieuse.</p>
			{% elseif user.interestedin == 'amusement' %}
				<p>Je cherches à m'amuser.</p>
			{% elseif user.interestedin == 'amicale' %}
				<p>Je recherche une relation sérieuse et de l'amusement.</p>
			{% endif %}
		</div>
        <div class="profilediv">
			{% if user.gender == 'un homme' %}
				{% if user.interestedgender == 'femmes' %}
					<p>Je suis intéressé par les femmes.</p>
				{% elseif user.interestedgender == 'hommes' %}
					<p>Je suis intéressé par les hommes.</p>
				{% elseif user.interestedgender == 'femme et hommes' %}
					<p>Je suis intéressé par les femmes et les hommes.</p>
				{% endif %}
			{% endif %}
			{% if user.gender == 'une femme' %}
				{% if user.interestedgender == 'femmes' %}
					<p>Je suis intéressée par les femmes.</p>
				{% elseif user.interestedgender == 'hommes' %}
					<p>Je suis intéressée par les hommes.</p>
				{% elseif user.interestedgender == 'femmes et hommes' %}
					<p>Je suis intéressée par les femmes et les hommes.</p>
				{% endif %}
			{% endif %}
		</div>
        {% if user.description %}
			<div class="profilediv">
				<p>Ma description :</p>
				<p>{{ user.description | raw}}</p>
			</div>
		{% else %}
			<div class="profilediv">
				<p>Tu n'as pas encore écrit de description.</p>
            </div>
		{% endif %}
	</div>
	<div class="message-b">
	<nav class="nav2">
        <a class="navbar2" href="{{ path('messagerie_create', {'username': user.username}) }}">Ecrire un message</a>
	
		<a class="navbar3" href="{{ path('block_blocked', {'username': user.username}) }}">Bloquer</a>
	</nav>
	</div>
    {% endblock %}