/*
les pages register, base et login
*/
.form_row {
  height: 1px;
}
.bienvenue {
  font-size: 2em;
  text-decoration: initial;
  font-family: serif;
  text-align: center;
  margin-top: 5em;
  border-radius: 4em;
  border-style: dotted;
}
/* formualire d'inscription */
.col-md-4 {
  display: block;
  justify-content: left;
  border: 1px ridge rgba(44, 45, 47, 0.6);
  margin: auto;
  margin-top: 12px;
  background-color: rgb(92, 91, 163);
  height: auto;
}
/* formulaire de connexion */
.col-md-5 {
  border: 1px ridge rgba(44, 45, 47, 0.6);
  background-color: rgb(92, 91, 163);
}
.mot {
  text-decoration: none;
  margin-left: 490px;
}
.insc {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
}
.btn-primary {
  display: block;
  margin-left: -2px;
}
.rêve {
  text-align: center;
  margin-right: 3%;
  font-family: fantasy;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8em;
  color: rgb(61, 52, 52);
  margin-top: 8px;
}
.container-fluid {
  background-color: rgb(165, 42, 52);
  padding-bottom: 4%;
}
.navbar-link {
  color: rgb(214, 203, 203);
  text-decoration: none;
}
.row {
  margin-top: 10px;
}
.login {
  margin-left: 240px;
  margin-top: 70px;
  width: 100em;
}
.connexion {
  margin-top: 10px;
  text-align: center;
}

.body,
body {
  background-color: rgb(243, 133, 179);
  width: 100%;
  padding: 0;
  margin: 0;
}
/*
page request
*/
.mail {
  margin-left: 26em;
  margin-top: 3em;
}
.reinitiation {
  margin-left: 15em;
  margin-top: 3em;
}
.button {
  margin-left: 22em;
  margin-top: 2em;
}

/*
page profil/view/women/man
*/
.nom {
  justify-content: left;
  font-size: 20px;
  color: rgb(11, 11, 12);
  text-align: center;
}
.message-b {
  display: flex;
  flex-wrap: wrap;
}
.navbar3 {
  padding: 400px;
  text-decoration: none;
  color: azure;
  margin-left: 40px;
}
.navbar2 {
  text-decoration: none;
  color: azure;
}

.profile-image {
  border: 1px solid rgb(10, 10, 10);
  border-radius: 30px;

  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.profile-pic {
  border: 1px solid rgb(10, 10, 10);
  border-radius: 30px;
  width: 200px;
  height: 200px;
}
.céliba {
  margin: 3px auto;
  display: inline-block;
  bottom: 200px;
  right: 200px;
}
.profile-women {
  border: 1px solid rgb(10, 10, 10);
  border-radius: 30px;
  width: 150px;
  height: 150px;
  right: 10px;
}
.profile-man {
  border: 1px solid rgb(10, 10, 10);
  border-radius: 30px;
  width: 150px;
  height: 150px;
  right: 10px;
}
.femme-celi {
  margin-top: 1em;
}
.test {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-radius: 3em;
  margin-top: 2em;
}
.nav {
  color: aliceblue;
}
/*
page base
*/
.image-base {
  border: 20px;
  border-radius: 30px;
  width: 5em;
  height: 5em;
}
.base {
  margin-top: 30%;
  background-color: rgb(165, 42, 52);
}
/*
page mot de passe
*/

.mot-passe {
  text-align: center;
}
.form-mot {
  border: 2mm ridge rgba(44, 45, 47, 0.6);
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 24em;
  margin-top: 6em;
  background-color: rgb(230, 30, 170);
}
/*
page messages reçus et envoyés

*/
.card.article {
  width: auto;
  background-color: aqua;
  scroll-padding: 25px;
  margin-top: 3em;
  border-style: double;
  border: black;
  border-spacing: 8px;
}
.caca {
  width: auto;
}

.bg-light {
  background-color: blue;
}
.img {
  width: 1em;
  height: 1em;
}
.h1,
h1 {
  text-align: center;
  margin-right: 13%;
  font-family: fantasy;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8em;
  background: linear-gradient(to right, #1714eb, rgb(61, 59, 59));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h2,
h2 {
  font-size: 1em;
}

.nav,
nav {
  background-color: rgb(61, 52, 52);
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.btn-primary-1 {
  display: block;
  color: #eb4614;
  justify-content: center;
  border: 1px solid;
  border-color: black;
  background: black;
  margin-left: 40%;
}
.card-profile {
  width: 1px;
  height: 1px;
}
/*
page d'accueil 1
*/

@media only screen and(max-width:640px) {
  .col-md-4 {
    margin-top: -400px;
    margin-left: 80px;
    background-color: #fff;
  }
}
