{% extends 'base.html.twig' %}

{% block title %}

{{parent()}}
Index
{% endblock %}

{% block body %}
<h1 class="text-center">Les messages reçus</h1>
<div class="caca">
{% for messagerie in messageries %}
{% if messagerie.receiver == app.user.username %}
<div class="card article">
    {{messagerie.content}}

            <em>
                écrit le {{messagerie.createdAT | date('Y/m/d h:i:s')}} par {{messagerie.author}} 
            </em>

</div>
{% endif %}

{% endfor %}
</div>
{% endblock %}

