<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}

</head>
    
    <body>
        
        <nav class="navbar navbar-collapse sticky-top navbar-light bg-light">
          <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_register') }}">Accueil</a>
                <button class=" navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    
                {% if app.user %}
                    
              
              <li class="nav-image">
                <a href="{{ path('profile_index') }}">
                <img class="image-base" src="{{ asset(user_profile_pictures_dir ~ app.user.picture) }}" alt="{{app.user}} profile picture"></a>
              </li>
                    <li class="nav-item">
                      <a class="navbar-link" href="{{ path('messagerie_index') }}">Messages reçus </a>
                    </li>
                    <li class="nav-item">
                      <a class="navbar-link" href="{{ path('messagerie_sent') }}">Messages envoyés </a>
                    </li>
                    <li class="nav-item">
                      <a class="navbar-link" href="{{ path('profile_women') }}">Femmes</a>
                    </li>
                    <li class="nav-item">
                      <a class="navbar-link" href="{{ path('profile_man') }}">Hommes</a>
                    </li>
                    <li class="nav-item">
                      <a class="navbar-link" href="{{ path('block_view') }}">Bloqués</a>
                    </li>
                    <li class="nav-item">
                      <a class="navbar-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li> 
                    
                {% else %}
    
                    <li class="nav-item">
                      <a class="navbar-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
                </ul>
              </div>
          </div>
        </nav>
         
      
        <div class="container">
          <div class="row">
              {% block body %}{% endblock %}
          </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}

        
    </body>
    <footer class="base">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    
</html>

